<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a [routerLink]="['/home']"  class="navbar-brand">{{title}}</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/home" routerlinkActive="['active']">
            <span class="glyphicon glyphicon-home"></span>
            Inicio
          </a>
        </li>
         <li class="dropdown">
                             <a [routerLink]="['invernadero']" routerlinkActive="['active']"
                              class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Invernadero<span class="caret"></span></a>
                             <ul class="dropdown-menu">
                               <li>
                                <a [routerLink]="['invernadero/crear']" routerlinkActive="['active']" >
                                  Crear
                                </a>
                               </li>
                            </ul>
                           </li>
         <li class="dropdown">
                             <a [routerLink]="['listamicro']" routerlinkActive="['active']"
                              class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Microcontroladores<span class="caret"></span></a>
                             <ul class="dropdown-menu">
                               <li>
                                <a [routerLink]="['insmicro']" routerlinkActive="['active']" >
                                  Crear
                                </a>
                               </li>
                            </ul>
                           </li>

             <li class="dropdown">
                                 <a href="#" routerlinkActive="['active']"
                                  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Dashboard<span class="caret"></span></a>
                                 <ul class="dropdown-menu">
                                   <li>
                                    <a [routerLink]="['chart']" routerlinkActive="['active']" >
                                      Por Microcontrolador
                                    </a>
                                   </li>
                                   <li>
                                       <a [routerLink]="['getdata']" routerlinkActive="['active']" >
                                         Historico
                                       </a>
                                   </li>
                                   <li>
                                        <a [routerLink]="['statesensor']" routerlinkActive="['active']" >
                                            Estado Sensores
                                        </a>
                                   </li>
                                </ul>
                               </li>

      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
        <li>
          <a [routerLink]="['register']" routerlinkActive="['active']">
            <span class="glyphicon glyphicon-user"></span>
            Registro
          </a>
        </li>
        <li>
          <a [routerLink]="['login']" routerlinkActive="['active']">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{identity.name}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['mis-datos']">
                <span class="glyphicon glyphicon-log-cog"></span>
                Mis datos
              </a>
            </li>
            <li>
              <a class="pointer" (click)="logout()">
                <span class="glyphicon glyphicon-log-out"></span>
                Salir
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="col-lg-11">
  <router-outlet></router-outlet>
</div>
