<h4>{{title1}}</h4>
<div class="micro-box" *ngIf="inver">
<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-10">
  <p>
    <label>Codigo</label>
    <input type="text" name="code" #nombre="ngModel" [(ngModel)]="inver.code"
           class="form-control" disabled/>
  </p>
  <p>
    <label>Nombre</label>
    <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="inver.name"
           class="form-control" disabled/>
  </p>
  <p>
    <label>Producto</label>
    <input type="text" name="producto" #producto="ngModel" [(ngModel)]="inver.product"
           class="form-control" disabled/>
  </p>
  <p>
    <label>Descripcion</label>
    <input type="text" name="descripcion" #descripcion="ngModel" [(ngModel)]="inver.description"
           class="form-control" disabled/>
  </p>
  <div >
    <app-lista-pcontrol></app-lista-pcontrol>
  </div>

  <input type="button" value="Volver" [routerLink]="'/invernadero/listar' "class="btn btn-primary">
</form>
