<h4>{{title1}}</h4>
<br>
<div class="box-header with-border">
  <div class="form-group voffset row">
    <label for="" class="vertical-label col-sm-4 col-md-8 text right">Seleccione Invernadero</label>
    <div class="col-sm-8 col-md-4">
      <select id="id" #id="ngModel" class="hideLabel form-control" [(ngModel)]="invernaderoid" name="id"
              (change)="selectinve();">
        <option selected="" value=""></option>
        <option [ngValue]="c._id" *ngFor="let c of inver">{{c.name}}</option>
      </select>
    </div>
  </div>
</div>
<div class="aler alert-success" *ngIf="status=='success'">
  Registro completado correctamente
</div>
<div class="aler alert-danger" *ngIf="status=='error'">
  El registro no se ha realizado correctamente
</div>
<div class="micro-box" *ngIf="micro">
<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-10">
  <p>
    <label>Codigo</label>
    <input type="text" name="codigo" #codigo="ngModel" [(ngModel)]="micro.code"
           class="form-control" required />
  </p>
  <p>
    <label>Modelo</label>
    <input type="text" name="modelo" #modelo="ngModel" [(ngModel)]="micro.modelo"
           class="form-control" required/>
  </p>
  <p>
    <label>Descripcion</label>
    <input type="text" name="descripcion" #descripcion="ngModel" [(ngModel)]="micro.description"
           class="form-control" required/>
  </p>
  <p>
    <label>Direccion IP</label>
    <input type="text" name="ip" #ip="ngModel" [(ngModel)]="micro.ip"
           class="form-control" required/>
  </p>

  <input type="submit" value="{{title}}" class="btn btn-primary" [disabled]=
    "!registerForm.form.valid">
</form>
</div>
