<div class="col-lg-6">
  <h1>{{title}}</h1>
  <div class="aler alert-success" *ngIf="status=='success'">
    Registro completado correctamente, <a [routerLink]="['/login']">identificate aqui</a>
  </div>
  <div class="aler alert-danger" *ngIf="status=='error'">
    El registro no se ha realizado correctamente
  </div>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-10">
    <p>
      <label>Correo electronico</label>
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email"
             class="form-control" required />
      <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
    </p>
    <p>
      <label>Nombre</label>
      <input type="text" name="name" #nombre="ngModel" [(ngModel)]="user.name"
             class="form-control" required />
      <span *ngIf="!nombre.valid && nombre.touched">El nombre es obligatorio</span>
    </p>
    <p>
      <label>Contraseña</label>
      <input type="password" name="password" #pass="ngModel" [(ngModel)]="user.password"
             class="form-control" required />
      <span *ngIf="!pass.valid && pass.touched">El password es obligatorio</span>
    </p>

    <input type="submit" value="{{title}}" class="btn btn-primary" [disabled]=
      "!registerForm.form.valid">
  </form>
</div>
